.Titulo-principal {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'pacifico', cursive;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    margin-top: 20px;

}
p.primerPRR {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    text-align: justify;
    text-justify: distribute;
    margin: 20px;
    
}

.radio-btn {
    display: none;
}

label {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(255, 187, 0);
    color: #fff;
    cursor: pointer;
}

#fondo1:checked ~ .primerPRR {
    background-color: white;
}

#fondo2:checked ~ .primerPRR {
    background-color: #000000;
    color: #CCCCCC;
}

#fondo1:checked ~ table .t1e {
    border: 1px solid black;
    padding: 8px;
}
#fondo2:checked ~ table .t1e {
    border: 1px solid white;
    padding: 8px;
}
h2.primerPRR {
    color: red;
    font-size: 30px;
}

h3.primerPRR {
    color:blue;
    font-size: 25px;
}

.like {
    background-color: transparent;
    color: white;
    padding: 10px 20px;   
    font-size: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.like:active {
    background-color: green;
}

.unlike {
    background-color: transparent;
    color: white;
    padding: 10px 20px;   
    font-size: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.unlike:active {
    background-color: blue;
}

#comentario {
    border-style: outset red 10px 10px;
}


