.Titulo-principal {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'pacifico', cursive;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    margin-top: 20px;

}
p.primerPRR {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    text-align: justify;
    text-justify: distribute;
    margin: 20px;
    
}

.radio-btn {
    display: none;
}

label {
    display: inline-block;
    padding: 5px 10px;
    background-color: gray;
    color: #fff;
    cursor: pointer;
}

#fondo1:checked ~ .primerPRR {
    background-color: white;
}

#fondo2:checked ~ .primerPRR {
    background-color:gray;
    color: white;
}